<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="ion-padding container">
      <h1>Signup</h1>

      <div class="form-container">
        <ion-item>
          <ion-label position="floating"><ion-icon name="person-outline"></ion-icon>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.name">
          <ng-container
            *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
          >
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.email">
          <ng-container
            *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
          >
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating"><ion-icon name="call-outline"></ion-icon>Phone no.</ion-label>
          <ion-input type="tel" formControlName="phone"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.phone">
          <ng-container
            *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)"
          >
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>Password</ion-label>
          <ion-input name="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
          <ion-icon name="eye" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>

        <div *ngFor="let error of errorMessages.password">
          <ng-container
            *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
          >
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating"><ion-icon name="finger-print-outline"></ion-icon>Passcode</ion-label>
          <ion-input type="number" formControlName="passcode"></ion-input>
        </ion-item>

        <div *ngFor="let error of errorMessages.passcode">
          <ng-container
            *ngIf="passcode.hasError(error.type) && (passcode.dirty || passcode.touched)"
          >
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      

        <ion-button expand="block" class="main-button" type="submit" [disabled]="registerForm.invalid"><ion-icon name="log-in-outline"></ion-icon>Sign Up</ion-button>

        <div class="sign-up">
          Already have an account? <ion-button color="dark" fill="clear" routerLink="/login" routerDirection="forward">Sign in</ion-button>
        </div>
      </div>
    </div>
  </form>
</ion-content>
