<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center" color="danger-tint">
  <div class="container">
    <div class="page-header">
      <h1>Hello Teacher</h1>
      <h3>Welcome to ThinkZone</h3>
    </div>

    <img src="../../assets/logo-round1.png" style="padding-left: 33px;"/>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/register" routerDirection="forward">Signup</ion-button>
    </div>
  </div>
</ion-content>
